@model IEnumerable<Product>
@inject SignInManager<BaseUser> signinManager
@inject UserManager<BaseUser> userManager
@inject ICrud<FrontEndData> frontDataCrud
@{
    var user = await userManager.GetUserAsync(User);
    bool isLogged = signinManager.IsSignedIn(User);
    bool isAdmin = User.IsInRole(Role.Admin);
    ViewData["Title"] = "Home Page";
    var frontWebsite = await frontDataCrud.GetById("frontendDataSetting");
    var header = "You have been specifically invited to buy the same product as before we have changed a few things around but everything is exactly the same as your last purchase.";
    var text = "We have taken a great care of taking care of our customers over the last year and now we will continue to do so through our own website and to always provide you with the best prices with the quality service  07719472557 - For our eBay Customers If you are interested in buying or have any enquiries please contact our customer service number + 447719472557 via sms or WhatsApp You may receive invitation from other Contact Telephone Number, however if any direct enquiries please contact the number above for any help or questions ";
    var bigTitle = "Invitation sales from our eBay Customers";
}
<div class="container">

    <div class="text-center">
        <img style="width:500px" src="~/uploads/@(frontWebsite.Image==null?$"logo.jpeg": frontWebsite.Image)" alt="Alternate Text" />
    </div>
   <partial name="~/Views/Shared/_Alert.cshtml"/>
    <div class="row ">
        <div class="col-md-12 justify-content-center">
            <h2 class="font-weight-bold mt-0"> @(frontWebsite==null? bigTitle : frontWebsite.BigTitle)</h2>
            <p>
                <h3 class="font-weight-bold">
                    @(frontWebsite==null? header : frontWebsite.Header)
                </h3>
                <br />
                @(frontWebsite==null? text : frontWebsite.Text)                
            </p>
        </div>
    </div>

    <div class="tab-content" style=" overflow: hidden; padding-top: 100px;">
        <div class="tab-pane fade active in">
            @foreach (var record in Model)
            {
                <div class="col-sm-3">
                    <div class="product-image-wrapper" >
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        @{
                                            int idx = 0;
                                        }
                                        @foreach (var image in record.Images)
                                        {
                                            <div class="item @(idx == 0 ? "active" : string.Empty)" style="height:200px;background:url('/uploads/@image.Name') center center no-repeat;background-size:contain">
                                            </div>
                                            idx++;
                                        }
                                        @{ 
                                            idx = 0;
                                        }

                                    </div>
                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                                <h2><strong>@record.Name</strong></h2>
                                <p>@record.Description</p>
                                <p style="color:green;font-weight:bold">£@record.Price</p>
                                @if (!isLogged)
                                {
                                    <a asp-controller="account" asp-action="register" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                }
                                @if (isLogged)
                                {
                                    <a asp-controller="cart" asp-action="create" asp-route-productId="@record.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
