@model IEnumerable<Cart>
@{
    ViewData["Title"] = "Cart list";
    double totalPrice = 0;
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                @foreach (var record in Model)
                {
                    var price = record.Quantity * (record.Product.Price - record.Product.Price * (decimal)(record.Product.Discount / 100));
                    totalPrice += (double)price;
                    <tbody>
                        <tr id="item-@record.Id">
                            <td class="cart_product">
                                <a href=""><img src="/uploads/@record.Product.Image" class="img-fluid" style="max-width:120px" ></a>
                            </td>
                            <td class="cart_description">
                                <h4><strong>Name: </strong>@record.Product.Name</h4>
                                <p><strong>Description: </strong>@record.Product.Description</p>
                            </td>
                            <td class="cart_price">
                                @if (record.Product.Discount == 0)
                                {
                                    <p>@record.Product.Price</p>
                                }
                                else
                                {
                                    <del><p>@record.Product.Price</p></del>
                                    <p>@(record.Product.Price-price)</p>
                                }
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href="/cart/increaseitem/@record.Id"> + </a>
                                    <input class="cart_quantity_input" asp-for="@record.Quantity" disabled>
                                    <a class="cart_quantity_down" href="/cart/decreaseitem/@record.Id" > - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@price</p>
                            </td>
                            <td class="cart_delete">
                                <a data-id="@record.Id" class="cart_quantity_delete" ><i class="fa fa-times"></i></a>
                                <input type="hidden" value="@record.Id" id="id_cart" />
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <label><strong>Total price : </strong>@totalPrice</label>
            <form>
                <button asp-controller="" asp-action="" >Checkout</button>
            </form>
        </div>
    </div>
</section> <!--/#cart_items-->
@section Scripts{ 
    <script>
        $('.cart_quantity_delete').on('click', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-id');
            $.ajax({
                method: 'POST',
                url: '/cart/delete',
                data: {
                    id
                },
                success: function () {
                    $('#item-' + id).remove();
                },
                error: function () {
                    alert('Something went wrong please refresh the page');
                }
            });
        });
    </script>
}